@import "bootstrap";

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
body {
  padding-top: 60px;
}
.center {
  text-align: center;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Sticky Footer Styles */
footer {
  margin-top: auto; /* This pushes the footer to the bottom */
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: #f8f9fa; /* Optional: light gray background */
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  margin-bottom: 0;
}

footer ul li {
  display: inline-block;
  margin-left: 15px;
}

/* Clearfix for the floats inside footer */
footer::after {
  content: "";
  display: table;
  clear: both;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  height: auto !important;
}

.field_with_errors {
  display: contents; /* Prevents the div from breaking Bootstrap's flexbox layout */
  
  .form-control {
    border-color: #dc3545; /* Bootstrap's standard 'danger' red */
    color: #dc3545;
    
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
      border-color: #dc3545;
    }
  }
  
  label {
    color: #dc3545;
  }
}
#error_explanation {
  color: #dc3545;
  width: 100%;
  margin-bottom: 20px;

  h2 {
    font-size: 1.2em;
    text-align: left; /* Error headers usually look better left-aligned */
    font-weight: bold;
    background-color: #f8d7da; /* Light red background */
    padding: 10px;
    border-radius: 5px;
    color: #842029;
  }

  ul {
    list-style: disc;
    margin: 10px 0 0 20px;
    li {
      margin-bottom: 5px;
    }
  }
}

.dropdown-menu.active {
  display: block;
}

/* Only use this if you are manually toggling the 'active' class via JS */
.dropdown-menu.active {
  display: block !important;
  position: absolute;
  left: 0;
  top: 100%;
}